In [1]:
import pandas as pd
import numpy as np

In [2]:
poblacion = pd.read_excel("../../data/external/reporte_estadist.xlsx", dtype = str)

In [3]:
poblacion.columns = list(poblacion.columns[:-2]) + [2007, 2017]

In [4]:
poblacion

,Ubigeo,Departamento,Provincia,Distrito,Indicador,Unidad de medida,2007,2017
0,NaN,NaN,NaN,NaN,NaN,NaN,2007,2017
1,010202,AMAZONAS,BAGUA,ARAMANGO,Población censada,Personas,11442,9765
2,010201,AMAZONAS,BAGUA,BAGUA,Población censada,Personas,NaN,27102
3,010203,AMAZONAS,BAGUA,COPALLIN,Población censada,Personas,6126,4595
4,010204,AMAZONAS,BAGUA,EL PARCO,Población censada,Personas,1274,1216
...,...,...,...,...,...,...,...,...
1870,250303,UCAYALI,PADRE ABAD,CURIMANA,Población censada,Personas,6047,7722
1871,250302,UCAYALI,PADRE ABAD,IRAZOLA,Población censada,Personas,18910,10214
1872,250304,UCAYALI,PADRE ABAD,NESHUYA,Población censada,Personas,NaN,7594
1873,250301,UCAYALI,PADRE ABAD,PADRE ABAD,Población censada,Personas,25633,29440
1874,250401,UCAYALI,PURUS,PURUS,Población censada,Personas,3746,2860

In [5]:
poblacion = poblacion.drop([0])

In [6]:
poblacion[2007] = poblacion[2007].fillna(1000).dropna().apply(int)

In [7]:
poblacion[2017] = poblacion[2017].dropna().apply(int)

In [8]:
poblacion

,Ubigeo,Departamento,Provincia,Distrito,Indicador,Unidad de medida,2007,2017
1,010202,AMAZONAS,BAGUA,ARAMANGO,Población censada,Personas,11442,9765
2,010201,AMAZONAS,BAGUA,BAGUA,Población censada,Personas,1000,27102
3,010203,AMAZONAS,BAGUA,COPALLIN,Población censada,Personas,6126,4595
4,010204,AMAZONAS,BAGUA,EL PARCO,Población censada,Personas,1274,1216
5,010205,AMAZONAS,BAGUA,IMAZA,Población censada,Personas,21409,25162
...,...,...,...,...,...,...,...,...
1870,250303,UCAYALI,PADRE ABAD,CURIMANA,Población censada,Personas,6047,7722
1871,250302,UCAYALI,PADRE ABAD,IRAZOLA,Población censada,Personas,18910,10214
1872,250304,UCAYALI,PADRE ABAD,NESHUYA,Población censada,Personas,1000,7594
1873,250301,UCAYALI,PADRE ABAD,PADRE ABAD,Población censada,Personas,25633,29440
1874,250401,UCAYALI,PURUS,PURUS,Población censada,Personas,3746,2860

In [9]:
Poblacionperregion = (poblacion
                      .groupby(['Departamento','Provincia'])
                      .apply(lambda y: pd.Series(
                          {2007: y[2007].sum(), 
                           2017: y[2017].sum(), 
                           'Ubigeo': y['Ubigeo'].iloc[0][0:4]
                          }
                      )
                            )
                     )

In [10]:
Poblacionperregion

                                 2007    2017 Ubigeo
Departamento Provincia
AMAZONAS     BAGUA              72757   74100   0102
             BONGARA            27465   25637   0103
             CHACHAPOYAS        49700   55506   0101
             CONDORCANQUI       43311   42470   0104
             LUYA               48328   44436   0105
...                               ...     ...    ...
TUMBES       ZARUMILLA          41054   48844   2403
UCAYALI      ATALAYA            43933   49324   2502
             CORONEL PORTILLO  333890  384168   2501
             PADRE ABAD         52590   60107   2503
             PURUS               3746    2860   2504

[196 rows x 3 columns]

In [11]:
g_rate = (Poblacionperregion[2017]/(Poblacionperregion[2007]))**(1/10)

for year in range(2008, 2022):
    Poblacionperregion[year] = Poblacionperregion[year-1]* g_rate

In [12]:
Poblacionperregion

                                 2007      2017 Ubigeo           2008  \
Departamento Provincia
AMAZONAS     BAGUA              72757   74100.0   0102   72890.197317
             BONGARA            27465   25637.0   0103   27276.482449
             CHACHAPOYAS        49700   55506.0   0101   50252.161055
             CONDORCANQUI       43311   42470.0   0104   43226.155971
             LUYA               48328   44436.0   0105   47923.931227
...                               ...       ...    ...            ...
TUMBES       ZARUMILLA          41054   48844.0   2403   41773.518103
UCAYALI      ATALAYA            43933   49324.0   2502   44444.456868
             CORONEL PORTILLO  333890  384168.0   2501  338606.421158
             PADRE ABAD         52590   60107.0   2503   53297.318459
             PURUS               3746    2860.0   2504    3646.259713

                                        2009           2010           2011  \
Departamento Provincia
AMAZONAS     BAGUA              73023.638481   73157.323938   73291.254134
             BONGARA            27089.258867   26903.320373   26718.658145
             CHACHAPOYAS        50810.456554   51374.954649   51945.724251
             CONDORCANQUI       43141.478147   43056.966202   42972.619812
             LUYA               47523.240858   47125.900649   46731.882588
...                                      ...            ...            ...
TUMBES       ZARUMILLA          42505.646581   43250.606444   44008.622576
UCAYALI      ATALAYA            44961.867988   45485.302677   46014.831060
             CORONEL PORTILLO  343389.464942  348240.072441  353159.198038
             PADRE ABAD         54014.150122   54740.622939   55476.866580
             PURUS               3549.175093    3454.675429    3362.691895

                                        2012           2013           2014  \
Departamento Provincia
AMAZONAS     BAGUA              73425.429519   73559.850540   73694.517648
             BONGARA            26535.263424   26353.127510   26172.241762
             CHACHAPOYAS        52522.835034   53106.357449   53696.362728
             CONDORCANQUI       42888.438652   42804.422399   42720.570729
             LUYA               46341.158898   45953.702036   45569.484687
...                                      ...            ...            ...
TUMBES       ZARUMILLA          44779.923805   45564.742966   46363.316977
UCAYALI      ATALAYA            46550.524079   47092.453500   47640.691926
             CORONEL PORTILLO  358147.809598  363206.888657  368337.430615
             PADRE ABAD         56223.012459   56979.193759   57745.545452
             PURUS               3273.157497    3186.007025    3101.177005

                                        2015           2016           2018  \
Departamento Provincia
AMAZONAS     BAGUA              73829.431293   73964.591926   74235.655967
             BONGARA            25992.597600   25814.186500   25461.029694
             CHACHAPOYAS        54292.922896   54896.110775   56122.665021
             CONDORCANQUI       42636.883320   42553.359851   42386.803447
             LUYA               45188.479767   44810.660416   44064.472107
...                                      ...            ...            ...
TUMBES       ZARUMILLA          47175.886907   48002.698050   49700.046725
UCAYALI      ATALAYA            48195.312806   48756.390441   49898.217526
             CORONEL PORTILLO  373540.444934  378816.955335  389594.631775
             PADRE ABAD         58522.204327   59309.309012   60915.419673
             PURUS               3018.605654    2938.232831    2783.850182

                                        2019           2020           2021
Departamento Provincia
AMAZONAS     BAGUA              74371.560282   74507.713399   74644.115774
             BONGARA            25286.267234   25112.704329   24940.332746
             CHACHAPOYAS        56746.181117   57376.624402   58014.071836
             CONDORCANQUI       42303.769871   42220.898954   42138.190377
             LUYA               43696.050546   43330.709345   42968.422750
...                                      ...            ...            ...
TUMBES       ZARUMILLA          50571.096643   51457.412704   52359.262462
UCAYALI      ATALAYA            50479.119947   51066.785087   51661.291676
             CORONEL PORTILLO  395097.918380  400678.942614  406338.802576
             PADRE ABAD         61734.712329   62565.024206   63406.503509
             PURUS               2709.727914    2637.579211    2567.351527

[196 rows x 16 columns]

In [14]:
Poblacionperregion.to_pickle("../../data/raw/poblacion-provincia-periodo.pickle")